@import url(./icons.css);
@import url(./sidebar.css);
@import url(./section.css);
@import url(./main-menu.css);
@import url(./toggle.css);


:root {
  --black: #000000;
  --primary: #0f56b3;
  --blue-bg: #C5DCFA;
  --grey: #787878;
  --white: #ffffff;
}

body {
  color: var(--primary);
  font-family: 'Manrope', sans-serif;
  margin: 0;


}